
*{
	box-sizing: border-box;
	margin :0;
	padding:0;
}


h1 {
	margin-bottom: 30px;
	text-align: : center;
}

.container{
	position: relative;
	background-color: #f5f5dc;
	border: 1px solid black;
	padding: 25px 10px 1px 10px;
	margin:10px;

}


#title1 {
	background-color: #A2CCE3;
}

#title2{
	background-color: #EDBB99;
}

#title3{
	background-color: #ABEBC6;
}

.title {
	position : absolute;
	border: 1px solid black;
	text-align: center;
	width:100px;
	top : 0;
	right: 0;

}



/* Simple Responsive Framework. */
.row {
	width: 100%;
	padding:10px;
	overflow: hidden;

}


/*** Browser ***/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}

/*** Tablet ***/
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6 {
		width: 50%;
		float: left;
	}
	.col-md-12 {
		width: 100%;
		float: left;
	}
}

/*** Mobile ***/
@media(767px){
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}

