body {
	font-size: 14px;
	color : #FFF;
	background-color: #F8F9F9;
}

#header-nav {
	background-color: #82E0AA;
}


#page_heading {
	color: #17202A;
}

#tall_section{
	background-color: #F9E79F;
	color: #17202A;
}